[package]
name = "tokenlock"
version = "0.1.2"
authors = ["yvt <i@yvt.jp>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/yvt/tokenlock"
description = """
Send-able cell type whose contents can be accessed only via an inforgeable token.
"""
keywords = ["token", "lock", "cell"]
